{% extends "app/layout.html" %}


{% block title %}{{article.article_title}}{% endblock %}
 
{% block content %}
	<h2>{{article.article_title}}<h2>

	<p>{{article.article_text}}<p>

	<em>{{article.pub_date}}</em>

	{% if article.was_published_recently %}
	
		THIS IS NEW ONE
	
	{% endif %}

	<hr>

	{% if latest_comments_list  %}
		
		{% for comment in latest_comments_list %}
			<p>
				<strong>{{comment.author_name}}</strong>
				<p>{{comment.comment_text}}</p>
			</p>
		{% endfor %}

	{% else %}
	There is no comments yet
	{% endif %}

	<hr>

	<form action="{% url 'leave_comment' article.id %}" method="post">

		{% csrf_token %}
	
		<input type="text" required placeholder="Your name" name="name"><br>

		<textarea name="text" required placeholder="Leave a comment" cols="30" rows="10"></textarea><br>

		<button type="submit">Submit</button>

	</form>
	
{% endblock %}

